<%- include('includes/header'); -%>
<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla Ice Cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Tropical Twist</h4>
    <p>Peach, Pineapple, Apple Juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Protein Packer</h4>
    <p>Oats, Peanut Butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla Ice Cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Tropical Twist</h4>
    <p>Peach, Pineapple, Apple Juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie" />
    <h4>Protein Packer</h4>
    <p>Oats, Peanut Butter, Milk, Banana, Blueberries</p>
  </li>
</ul>
<%- include('includes/footer'); -%>
